@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    height: 100px;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: end;
    /* position: absolute; */
    z-index: 100;
}
.box-login{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.73);
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
}
.login{
    width: 550px;
    height: 600px;
    background-color: crimson;
    text-align: center;
    padding: 20px;

}
.login h1{
    font-weight: bold;
    color: white;
}
input{
    height: 45px;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    text-align: center;
}
.header span{
    font-size: 30px;
    display: flex;
    justify-content: end;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.footer button{
   margin-top: 20px;
   font-size: 20px;
   font-weight: 600;
}